.App {
  text-align: center;
}

.pink-hover {
  transition: all 0.3s ease;
}

.pink-hover:hover {
  /* background-color: #ff69b4 !important ;  */
   background-color: red !important ;
  color: white !important;
  border-color: red  !important;
}


.whole_bg{
  background-color:rgb(254, 244, 231);
  min-height: 100vh;
}

/* Base card */
.gift-card {
  width: 150px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7cfe0;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

/* Image inside card */
 .gift-img {
  width: 80px;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

/* Hover effects */
.gift-card:hover {
  transform: translateY(-8px) scale(1.05); /* card pops up */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2); /* stronger shadow */
  background: #ffecf1; /* slightly lighter/pinkish */
}

.gift-card:hover .gift-img {
  transform: rotate(-5deg) scale(1.1); /* playful tilt + grow */
}
